<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table>
    <thead>
        <tr>
            <th style="min-width: 300px">Id</th>
            <th style="min-width: 100px">Item</th>
            <th><a style="color: #24F" href="#/new">new</a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="inventoryItem in inventoryItems | filter:search | orderBy:'name'">
            <td style="min-width: 300px">{{inventoryItem.id}}</td>            
            <td style="min-width: 100px"><a href="#/edit/{{inventoryItem.id}}">{{inventoryItem.name}}</a></td>
            <td>
                <a href="#/edit/{{inventoryItem.id}}"><i class="icon-pencil"></i></a>
            </td>
        </tr>
    </tbody>
</table>
