@{
  ViewBag.Title = "Index";
}
@using All_In_One.Features.ClientCreate
@using Microsoft.Web.Mvc
@using Microsoft.Web.Mvc.Controls
@model All_In_One.Features.ClientList.Query.ClientListQuery
<h2>Clients</h2>

<table class="table table-bordered table-striped">
  @{ int i = 1; }
  @foreach (var client in Model.Clients)
  {
    <tr>
      <td>@i</td>
      <td>@client.Name</td>
    </tr>
    i++;
  }
</table>

@(Html.ActionLink<ClientCreateController>(f => f.New(), "Add client wizard", new { @class = "btn btn-default" }))
