@model AspMvcSec.Models.Comment

<div class="row">
  <div class="col-md-8">
    @using (Html.BeginForm("CreateComment", "Home", FormMethod.Post))
    {
      <h4>Add new comment</h4>
      <hr />
      <div class="form-group">
        <label class="col-md-1 control-label">Who</label>
        <div class="col-md-11">
          @Html.TextBoxFor(m => m.Who, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Who, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-1 control-label">Text</label>
        <div class="col-md-11">
          @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
        </div>
      </div>
      
      <input type="submit" value="OK" class="btn btn-wide" />
    }
  </div>
</div>

