@using FeatureFolders.Features.ClientAddWizard
@using FeatureFolders.Features.ClientList
@using Microsoft.Web.Mvc
@{
    @*ViewBag.Title = "Home Page";*@
}

<h2>Home</h2>

@(Html.ActionLink<ClientAddWizardController>(f => f.New(), "Add client wizard",new { @class ="btn btn-default"}))
@(Html.ActionLink<ClientListController>(f => f.Index(), "Client list", new { @class = "btn btn-default" }))