@using AspMvc.Infrastructure.FormExtensions
@using PRGPattern.Controllers

@model PRGPattern.Models.ClientModel
<div class="row">
  <div class="col-md-8">
    @using (Html.BeginForm<ClientCreateNormalController>(f => f.Create(null), new { id = "f1" }))
    {
      @Html.AntiForgeryToken()
      <h4>Create new client.</h4>
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
        <label class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
          @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
      </div>

      <input type="submit" value="OK" class="btn" />
    }
  </div>
</div>
