
@{
    ViewBag.Title = "ClientModelView";
}
@model PassParametersDuringRedirect.Models.ClientModel

<h2>ClientModelView</h2>

<p>Name : @Model.Name </p>
<p>Age : @Model.Age </p>
<p>Sex : @Model.Sex</p>


